NET clk LOC = P87 | IOSTANDARD = LVCMOS33; 


NET square_wave LOC = P22 | IOSTANDARD = LVCMOS33;


 
NET pin1 LOC = P21 | IOSTANDARD = LVCMOS33; 
 
NET pin2 LOC = P24 | IOSTANDARD = LVCMOS33; 

NET dir_ip LOC = P17 | IOSTANDARD = LVCMOS33; 
#NET rst LOC = P14 | IOSTANDARD = LVCMOS33;

#NET inc LOC = P10 | IOSTANDARD = LVCMOS33; 
#NET dec LOC = P7 | IOSTANDARD = LVCMOS33;
#
#//NET led_inc loc=p16 | IOSTANDARD = LVCMOS33; 
#
#NET led_dec loc=p15 | IOSTANDARD = LVCMOS33;